{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="thank_you">
                <h1>Thasnk you for submiting your details !!!</h1>
                <a href="/survey/list" class="btn btn-info" role="button">View List</a>
            </div>
        </div>
    </div>
{% endblock %}